
$white: #fff;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body{
	background-color: $white;
	font-family: 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	#root{
		height: 100vh;
		display: flex;
		flex-flow: row nowrap;
		overflow: hidden;
		#carousel-container{
			display: flex;
			flex-flow: column nowrap;
			#carousel{
				flex: 1;
				display: flex;
				flex-flow: column nowrap;
				.carousel-header{
					flex: 20;
					display: flex;
					flex-flow: column nowrap;
					justify-content: flex-end;
					align-items: center;
				}
				.carousel-items{
					flex: 40;
					display: flex;
					flex-flow: row nowrap;
					align-items: center;
					.carousel-item{
						display: flex;
						flex-flow: column nowrap;
						margin: 0 10px;
					}
					.carousel-item.active{
						left: 0;
					}
				}
				.carousel-buttons{
					flex: 20;
					display: flex;
					flex-flow: row nowrap;
					justify-content: center;
					align-items: flex-start;
					a{
						outline: 0;
						border-radius: 5px;
						transition: background-color 100ms;
						img{
							object-fit: none;
							object-position: -134px 11px;
						}
						img.active{
							object-fit: none;
							object-position: -110px 11px;
						}
						.Prev{
							object-fit: none;
							object-position: -421px -63px;
						}
						.Next{
							object-fit: none;
							object-position: -444px -62px;
						}
					}
					a:hover{
						background-color: #dedddd;
					}
					a:active{
						background-color: #9b9b9b;
					}
				}
			}
		}
	}
}

p{
	font-size: 70%;
}

//animations
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
  transition-delay: 2s;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 1ms ease-in;
}